.grid-layout{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 80px auto 100px;
    gap: 50px;
    /* height: 100vh; */
}


/* header section */
#header{
    grid-column: span 2;
    border-bottom: 1px solid black;
    margin: 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 8rem;
    height: 100%;
}

.navbar-container{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* sidebar section */

#sidebar{
    grid-column: span 1;   
    background-color: green;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.sidebar-container > img{
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}
.sidebar-container > p{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
.sidebar-container  li{
    margin-bottom: 10px;
}



/* body section */

#body{
    grid-column: span 1;
    background-color: yellow;
}

/* main */
.main-part{
    margin-right: 8rem;
    /* display: flex; */
}
.main-part  img{
    width: 20rem;
    float: right;
    margin: 25px;
    border-radius: 5%;
}
.text{
    font-size: 1.4rem;
    text-align: justify;
}

/* featurs */
.features-part{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    gap: 50px;
    width: 100%;
} 
.features-item{
    text-align: left;
    flex-basis: 250px;
}
.features-item ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.features-item li{
    margin-bottom: 10px;

}
.features-item .gig{
    font-weight: 900;
}
.features-item .department{
    font-style: italic;
}


/* footer section */
#footer-sec{
    grid-column: span 2;
    background-color: brown;
}
footer{
    display: flex;
    color: white;
    margin-left: 8rem;
    height: 100%;
    align-items: center;
}


