.grid-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr 0.5fr;
    gap: 50px;
    height: 100vh;
}

#header{
    grid-column: span 2;
}

#sidebar{
    grid-column: span 1;
}

#body{
    grid-column: span 1;
}

#footer{
    grid-column: span 2;
}


