.grid-layout{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 0.5fr 4.5fr 0.5fr;
    gap: 50px;
    /* height: 100vh; */
}


/* header section */
#header{
    grid-column: span 2;
    border-bottom: 1px solid black;
    margin: 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin-inline: 8rem;
    height: 100%;
}

.navbar-container{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* sidebar section */

#sidebar{
    grid-column: span 1;   
    background-color: green;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.sidebar-container > img{
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}
.sidebar-container > p{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
.sidebar-container  li{
    margin-bottom: 10px;
}



/* body section */
#body{
    grid-column: span 1;
    background-color: yellow;
}
.main-part{
    margin-right: 8rem;
    /* display: flex; */
}
.main-part  img{
    width: 20rem;
    float: right;
    margin: 25px;
    border-radius: 5%;
}
.text{
    font-size: larger;
    text-align: justify;
}


/* footer section */
#footer{
    grid-column: span 2;
    background-color: black;
}


